<ion-header>
  <ion-toolbar>
    <ion-title> {{ !isLogin ? "Sign Up" : "Log in" }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col sizeMd="6" offsetMd="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input
                type="email"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
              ></ion-input>
              <ion-item
                *ngIf="!emailCtrl.valid && emailCtrl.touched"
                lines="none"
              >
                <ion-label>Should be a valid E-Mail</ion-label>
              </ion-item>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="password"
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
            >
              <ion-label>Should atleast be 6 characters</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeMd="6" offsetMd="3">
          <ion-button
            color="primary"
            fill="clear"
            expand="full"
            (click)="onSwitchAuthMode()"
            >Switch to {{ !isLogin ? "login" : "Sign up" }}</ion-button
          >
          <ion-button type="submit" color="primary" expand="block">
            {{ isLogin ? "login" : "Signup" }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- <div class="text-center">
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> -->
</ion-content>
